# MySQL Configuration
MYSQL_DATABASE=your_database_name
MYSQL_USER=your_database_user
MYSQL_PASSWORD=your_database_password
MYSQL_ROOT_PASSWORD=your_root_password

# WordPress Database Configuration
WORDPRESS_DB_HOST=mysql-db
WORDPRESS_DB_USER=your_database_user
WORDPRESS_DB_PASSWORD=your_database_password
WORDPRESS_DB_NAME=your_database_name
